.modal-content {
    border-radius: 10px;
    padding: 20px;
    max-width: 720px;
    margin: 0 auto;
}

.modal-body img {
    display: none; /* Sembunyikan gambar jika hanya ingin fokus ke teks */
}

.modal-title {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.modal-body p {
    font-size: 15px;
    line-height: 1.8;
    color: #444;
    text-align: justify;
}

.modal-header {
    border-bottom: 1px solid #eee;
}

.modal-dialog {
    max-width: 800px;
}
