body {
    padding-top: 140px; /* Sesuaikan dengan tinggi navbar */
}
.cod-box {
    background-color: #f8f9fa;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
    max-width: 600px;
    margin: 0 auto;
}

.cod-box h5 {
    color: #343a40;
    font-size: 1.2rem;
}

.cod-box .btn-dark {
    font-weight: 500;
}
/* Custom style for upload file */
.custom-file-input {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
    color: #495057;
}

.custom-file-input:focus {
    outline: none;
    border-color: #343a40;
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.25);
}

input[type="file"] {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
}


input[type="file"]::file-selector-button:hover {
    background-color: #212529;
}